<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Ajouter un patient</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Patients</a>
            </li>
            <li class="breadcrumb-item active">Ajouter</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Information du patient</strong></h2>

          </div>



          <div class="col-lg-12 col-md-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" aria-expanded="true">
                <div class="row clearfix">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="body">
                      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
                        <mat-tab>
                          <ng-template mat-tab-label>
                            Gendarme
                          </ng-template>
                          <div class="body">
                            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Nom complet</mat-label>
                                    <input matInput formControlName="name" required>
                                    <mat-error *ngIf="patientForm.get('name').hasError('required')">
                                      Le champ nom est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Date de naissance</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="patientForm.get('dob').hasError('required')">
                                      Le champ date de naissance est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-3 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Genre</mat-label>
                                    <mat-select formControlName="gender" required>
                                      <mat-option [value]="'Homme'">
                                        Homme
                                      </mat-option>
                                      <mat-option [value]="'Femme'">
                                        Femme
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="patientForm.get('gender').hasError('required')">
                                      Le genre est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Matricule</mat-label>
                                    <input matInput formControlName="matricule" required>
                                    <mat-error *ngIf="patientForm.get('matricule').hasError('required')">
                                      Le champ matricule est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Statut matrimonial</mat-label>
                                    <mat-select formControlName="maritalStatus" required>
                                      <mat-option [value]="'celibataire'">
                                        Celibataire
                                      </mat-option>
                                      <mat-option [value]="'marié(e)'">
                                        Marrié(e)
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="patientForm.get('maritalStatus').hasError('required')">
                                      Le champ statut matrimonial est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Addresse</mat-label>
                                    <input matInput formControlName="address" type="text">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Telephone</mat-label>
                                    <input matInput formControlName="numero" type="number">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Groupe sanguin</mat-label>
                                    <input matInput formControlName="bloodType">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Photo de profile</mat-label>
                                    <ngx-mat-file-input (change)="selectFile($event)">
                                    </ngx-mat-file-input>
                                    <mat-icon matSuffix>face</mat-icon>
                                  </mat-form-field>
                                  <div *ngIf="currentFileUpload" class="progress mt-2">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                      attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                                      [ngStyle]="{ width: percentage + '%' }">
                                      {{ percentage }}%
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                  <button class="btn-space" [disabled]="!patientForm.valid
                                  || (currentFileUpload?.file && currentFileUpload?.url == '')" mat-raised-button
                                    color="primary">Enregistrer</button>
                                  <button type="button" mat-button>Annuler</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </mat-tab>
                        <mat-tab>
                          <ng-template mat-tab-label>
                            Famille
                          </ng-template>
                          <div class="body">
                            <form class="m-4" [formGroup]="patientFamilleForm" (ngSubmit)="onSubmitFamille()">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Nom complet</mat-label>
                                    <input matInput formControlName="name" required>
                                    <mat-error *ngIf="patientFamilleForm.get('name').hasError('required')">
                                      Le champ nom est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Date de naissance</mat-label>
                                    <input matInput [matDatepicker]="picker2" formControlName="dob" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="patientFamilleForm.get('dob').hasError('required')">
                                      Le champ date de naissance est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-3 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Genre</mat-label>
                                    <mat-select formControlName="gender" required>
                                      <mat-option [value]="'Homme'">
                                        Homme
                                      </mat-option>
                                      <mat-option [value]="'Femme'">
                                        Femme
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="patientFamilleForm.get('gender').hasError('required')">
                                      Le genre est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Matricule du parent</mat-label>
                                    <input matInput formControlName="matricule" required>
                                    <mat-error *ngIf="patientFamilleForm.get('matricule').hasError('required')">
                                      Le champ matricule est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Dossier</mat-label>
                                    <input matInput formControlName="dossier" required>
                                    <mat-error *ngIf="patientFamilleForm.get('dossier').hasError('required')">
                                      Le champ dossier est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Statut matrimonial</mat-label>
                                    <mat-select formControlName="maritalStatus" required>
                                      <mat-option [value]="'celibataire'">
                                        Celibataire
                                      </mat-option>
                                      <mat-option [value]="'marié(e)'">
                                        Marrié(e)
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="patientFamilleForm.get('maritalStatus').hasError('required')">
                                      Le champ statut matrimonial est obligatoire
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Addresse</mat-label>
                                    <input matInput formControlName="address" type="text">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Telephone</mat-label>
                                    <input matInput formControlName="numero" type="number">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Groupe sanguin</mat-label>
                                    <input matInput formControlName="bloodType">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3">
                                    <mat-label>Photo de profile</mat-label>
                                    <ngx-mat-file-input (change)="selectFile($event)">
                                    </ngx-mat-file-input>
                                    <mat-icon matSuffix>face</mat-icon>
                                  </mat-form-field>
                                  <button *ngIf="patientLoading" disabled nz-button nzType="primary" class="btn-group btn btn-primary" type="button"
                                  nzLoading>
                                  Chargement
                                </button>
                                <button *ngIf="patient.img !== ''" disabled nz-button nzType="success" class="btn-group btn btn-primary" type="button"
                                  >
                                  Chargé!
                                </button>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                  <button class="btn-space" [disabled]="!patientForm.valid
                                  || (currentFileUpload?.file && currentFileUpload?.url == '')" mat-raised-button
                                    color="primary">Enregistrer</button>
                                  <button type="button" mat-button>Annuler</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>







        </div>
      </div>
    </div>
  </div>
</section>
