<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Doctor Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Nombre de consultation aujourd'hui</h5>
            <h2 class="text-end"><i class="fas fa-user-injured float-start"></i><span>19</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Nombre de consultation ce mois-ci</h5>
            <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span>122</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Moyenne de consultations par heure</h5>
            <h2 class="text-end"><i class="fas fa-cut float-start"></i><span>2</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Information supplementaire</h5>
            <h2 class="text-end"><i class="fab fa-internet-explorer float-start"></i><span>42</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              Type de patients</h2>

          </div>
          <div class="body">
            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              Consultations d'aujourd'hui</h2>

          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Sexe</th>
                    <th>Ordonnance</th>
                    <th>Details </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user1.jpg" alt="">
                    </td>
                    <td>John Doe</td>
                    <td>Male</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user2.jpg" alt="">
                    </td>
                    <td>Sarah Smith</td>
                    <td>Female</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user3.jpg" alt="">
                    </td>
                    <td>Airi Satou</td>
                    <td>Male</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user4.jpg" alt="">
                    </td>
                    <td>Angelica Ramos</td>
                    <td>Female</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user5.jpg" alt="">
                    </td>
                    <td>Ashton Cox</td>
                    <td>Female</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user8.jpg" alt="">
                    </td>
                    <td>Cara Stevens</td>
                    <td>Male</td>

                    <td>
                      <i class="far fa-file-pdf tbl-pdf"></i>
                    </td>
                    <td>
                      <button mat-flat-button color="primary">Details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
