<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Docteurs</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">DR. Djibril Mohamed</div>
                <div class="name-center">Lieutenant</div>
              </div>
              <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
              <p>
                456, Estern evenue, Courtage area,
                <br />New York
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>264-625-2583</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2>
                       Information</h2>
                  </div>
                  <div class="body">
                    <div class="row clearfix">
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nom</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Grade</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Numero</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Specialisation</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Address</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <div class="col-md-12">
                        <div class="form-group">
                          <mat-checkbox class="example-margin">Profile Visibility For Everyone
                          </mat-checkbox>
                        </div>
                        <div class="form-group">
                          <mat-checkbox class="example-margin">New task notifications
                          </mat-checkbox>
                        </div>
                        <div class="form-group">
                          <mat-checkbox class="example-margin">New friend request notifications
                          </mat-checkbox>
                        </div>
                      </div> -->
                      <div class="col-md-12">
                        <button mat-raised-button color="primary">Enregistrer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Connection
              </ng-template>
              <div class="header">
                <h2>
                  Configuration</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Login</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirmer</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Enregistrer</button>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
        <!-- Widgets -->
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-card1 order-info-box7">
              <div class="info-box7-block">
                <h5 class="m-b-15">Nombre de consultation aujourd'hui</h5>
                <h2 class="text-end"><i class="fas fa-user-injured float-start"></i><span>19</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-card2 order-info-box7">
              <div class="info-box7-block">
                <h5 class="m-b-15">Nombre de consultation ce mois-ci</h5>
                <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span>122</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-card3 order-info-box7">
              <div class="info-box7-block">
                <h5 class="m-b-15">Moyenne de consultations par heure</h5>
                <h2 class="text-end"><i class="fas fa-cut float-start"></i><span>2</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-card4 order-info-box7">
              <div class="info-box7-block">
                <h5 class="m-b-15">Information supplementaire</h5>
                <h2 class="text-end"><i class="fab fa-internet-explorer float-start"></i><span>42</span></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>
                  Type de patients</h2>

              </div>
              <div class="body">
                <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                  [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
                  [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
                  [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
              </div>
            </div>
          </div>
                <!-- line chart -->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="plain-card">
          <div class="card-inner">
            <h6 class="tx-primary m-b-10">Repos maladie delivrés</h6>
            <div class="row">
              <div class="col-4">
                <label class="font-14">Ajourd'hui</label>
                <p>105</p>
              </div>
              <div class="col-4">
                <label class="font-14">Cette semaine</label>
                <p>825</p>
              </div>
              <div class="col-4">
                <label class="font-14">Ce mois</label>
                <p>22,067</p>
              </div>
            </div>
            <div class="progress shadow-style">
              <div class="progress-bar l-bg-orange width-per-74" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                aria-valuemax="100">74%</div>
            </div>
          </div>
        </div>
        <div class="plain-card">
          <div class="card-inner">
            <h6 class="tx-primary m-b-10">Repos maladie delivrés</h6>
            <div class="row">
              <div class="col-4">
                <label class="font-14">Ajourd'hui</label>
                <p>105</p>
              </div>
              <div class="col-4">
                <label class="font-14">Cette semaine</label>
                <p>825</p>
              </div>
              <div class="col-4">
                <label class="font-14">Ce mois</label>
                <p>22,067</p>
              </div>
            </div>
            <div class="progress shadow-style">
              <div class="progress-bar l-bg-orange width-per-74" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                aria-valuemax="100">74%</div>
            </div>
          </div>
        </div>
        <div class="plain-card">
          <div class="card-inner">
            <h6 class="tx-primary m-b-10">Repos maladie delivrés</h6>
            <div class="row">
              <div class="col-4">
                <label class="font-14">Ajourd'hui</label>
                <p>105</p>
              </div>
              <div class="col-4">
                <label class="font-14">Cette semaine</label>
                <p>825</p>
              </div>
              <div class="col-4">
                <label class="font-14">Ce mois</label>
                <p>22,067</p>
              </div>
            </div>
            <div class="progress shadow-style">
              <div class="progress-bar l-bg-orange width-per-74" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                aria-valuemax="100">74%</div>
            </div>
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="header">

                <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Action</button>
                  <button mat-menu-item>Another action</button>
                  <button mat-menu-item>Something else here</button>
                </mat-menu>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-md-12 col-xl-4 d-flex flex-column justify-content-center">
                    <div class="ml-xl-3 m-b-20">
                      <h2>$1,17,289</h2>
                      <h4 class="font-weight-light col-green">Total Income</h4>
                      <p class="mb-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor.
                      </p>
                    </div>
                    <div class="ml-xl-3">
                      <h2>$1,17,289</h2>
                      <h4 class="font-weight-light col-orange">Total Expense</h4>
                      <p class="mb-2"> Cras dapibus. Vivamus elementum semper nisi. Aenean
                        vulputate eleifend tellus.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-8">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="tx-primary m-b-30">Categorie de patients</h5>
                        <div class="progress-list m-b-10">
                          <div class="details">
                            <div class="title">Hommes</div>
                          </div>
                          <div class="status">
                            <span>40</span>% </div>
                          <div class="progress-xs not-rounded progress">
                            <div class="progress-bar progress-bar-warning width-per-40" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40%</span>
                            </div>
                          </div>
                        </div>
                        <div class="progress-list m-b-10">
                          <div class="details">
                            <div class="title">Femmes</div>
                          </div>
                          <div class="status">
                            <span>49</span>% </div>
                          <div class="progress-xs not-rounded progress">
                            <div class="progress-bar progress-bar-danger width-per-49" role="progressbar" aria-valuenow="49"
                              aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">49%</span>
                            </div>
                          </div>
                        </div>
                        <div class="progress-list m-b-10">
                          <div class="details">
                            <div class="title">Gendarme</div>
                          </div>
                          <div class="status">
                            <span>65</span>% </div>
                          <div class="progress-xs not-rounded progress">
                            <div class="progress-bar progress-bar-blue width-per-65" role="progressbar" aria-valuenow="65"
                              aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">65%</span>
                            </div>
                          </div>
                        </div>
                        <div class="progress-list m-b-10">
                          <div class="details">
                            <div class="title">Famille</div>
                          </div>
                          <div class="status">
                            <span>28</span>% </div>
                          <div class="progress-xs not-rounded progress">
                            <div class="progress-bar progress-bar-success width-per-28" role="progressbar"
                              aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">28%</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h5 class="tx-primary">Gravité</h5>
                        <!-- chart -->
                        <div class="recent-report__chart">
                          <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                            [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                            [colors]="doughnutChartColors"></canvas>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
              <div class="header">
                <h2>
                  Consultations d'aujourd'hui</h2>

              </div>
              <div class="tableBody">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Ordonnance</th>
                        <th>Details </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user1.jpg" alt="">
                        </td>
                        <td>John Doe</td>
                        <td>Male</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user2.jpg" alt="">
                        </td>
                        <td>Sarah Smith</td>
                        <td>Female</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user3.jpg" alt="">
                        </td>
                        <td>Airi Satou</td>
                        <td>Male</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user4.jpg" alt="">
                        </td>
                        <td>Angelica Ramos</td>
                        <td>Female</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user5.jpg" alt="">
                        </td>
                        <td>Ashton Cox</td>
                        <td>Female</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-img">
                          <img src="assets/images/user/user8.jpg" alt="">
                        </td>
                        <td>Cara Stevens</td>
                        <td>Male</td>

                        <td>
                          <i class="far fa-file-pdf tbl-pdf"></i>
                        </td>
                        <td>
                          <button mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>
