<app-consultations *ngIf="page ==='1' || page ==='11' ||page ==='12'" (id)="checkConsultation($event)">
</app-consultations>
<app-add-consultation *ngIf="page == '0'" (page)="goToPage($event)"></app-add-consultation>
<app-add-suivi *ngIf="page == '01'" [idConsultation]="consultationId"></app-add-suivi>
<app-add-suivi-externe *ngIf="page == '02'" [idConsultation]="consultationId"></app-add-suivi-externe>
<app-saved-consultation *ngIf="page == '14'" (suivi)="addSuivi($event)" [idConsultation]="consultationId"></app-saved-consultation>
<app-explorations *ngIf="isPage(page)" [idExpoType]="page" [type]="Expotype"></app-explorations>
<app-commentaires *ngIf="page == '3'"></app-commentaires>
