<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4">
<p><u><i>Selectionnez le type d'exploration</i></u></p>
<div class="d-flex m-2 justify-content-between">
  <nz-select [(ngModel)]="newAnalyse.typeI"  nzSize="large" nzAllowClear (ngModelChange)="selectType($event)" nzPlaceHolder="Type d'analyse" >
    <nz-option *ngFor="let type of array1" [nzValue]="type.id" [nzLabel]="type.name"  ></nz-option>
  </nz-select>
  <nz-select [(ngModel)]="newAnalyse.typeII" nzSize="large" (ngModelChange)="selectType2($event)" nzAllowClear nzPlaceHolder="Sous-Type d'analyse">
    <nz-option *ngFor="let type of filteredArray1" [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
  </nz-select>
  <nz-select [(ngModel)]="newAnalyse.typeIII"  nzSize="large" (ngModelChange)="selectType3($event)" nzAllowClear nzPlaceHolder="Sous-Type 2">
    <nz-option *ngFor="let type of filteredArray2" [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
  </nz-select>
  <nz-select [(ngModel)]="newAnalyse.typeIV"  nzSize="large" nzAllowClear nzPlaceHolder="Sous-Type 3">
    <nz-option *ngFor="let type of filteredArray3" [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
  </nz-select>
</div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="header d-flex justify-content-end">
                          <ul class="header-buttons float-end">
                            <li>
                              <button mat-mini-fab color="primary" type="button" (click)='addRow(addRecord)'>
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </li>
                          </ul>
                        </div>
                        <nz-table #basicTable [nzData]="data">
                          <thead>
                            <tr>
                              <th>Explorations</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of data; let i=index">
                              <td>{{ item.analyse }}
                              <td>

                              <span>
                                <button class="btn tblActnBtn h-auto" (click)='editRow(item, i, editRecord)'>
                                  <i class="material-icons">mode_edit</i>
                                </button>
                                <button class="btn tblActnBtn h-auto" (click)='deleteRow(item)'>
                                  <i class="material-icons">delete</i>
                                </button>
                              </span>
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                        <!-- Add Record Modal Window -->
                        <ng-template #addRecord let-modal>
                          <div class="modal-header editRowModal ">
                            <h4 class="modal-title" id="modal-basic-title">
                              <div class="modal-header ">
                                <div class="modal-about">
                                  <div class="font-weight-bold p-t-10 font-17">
                                    Nouvelle analyse</div>
                                </div>
                              </div>
                            </h4>
                            <button type="button" class="btn-group btn btn-danger small" aria-label="Close" (click)="modal.dismiss()">
                              <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                              <!-- <div class="input-field col s12 d-none">
                                <input formControlName="id" class="form-control" type="hidden">
                              </div>
                               -->
                              <div class="row">

                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                      <mat-label>Analyse</mat-label>
                                      <input matInput formControlName="analyse" required>
                                      <mat-error *ngIf="register.get('analyse').hasError('required')">
                                        le nom d'une analyse manque
                                      </mat-error>
                                    </mat-form-field>
                                </div>

                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                  <button class="btn-space" [disabled]="!register.valid" mat-raised-button
                                    color="primary">Soumettre</button>
                                  <button type="button" mat-button item-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </ng-template>
                        <!-- Edit Record Modal Window -->
                        <ng-template #editRecord let-modal>
                          <div class="modal-header editRowModal">
                            <h4 class="modal-title" id="modal-basic-title">
                              <div class="modal-header ">
                                <div class="modal-about">
                                  <div class="font-weight-bold p-t-10 font-17">
                                    Modifier l'analyse
                                    </div>
                                </div>
                              </div>
                            </h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                              <!-- <div class="input-field col s12 d-none">
                                <input formControlName="id" class="form-control" type="hidden">
                              </div> -->
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                  <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Analyse</mat-label>
                                    <input matInput formControlName="analyse" required>
                                    <mat-icon matSuffix>face</mat-icon>
                                    <mat-error *ngIf="editForm.get('analyse').hasError('required')">
                                      analyse name is required
                                    </mat-error>
                                  </mat-form-field>
                                </div>

                              </div>
                              <div class="modal-footer">
                                <div class="button-demo">
                                  <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
                                  <button mat-button type="button" (click)="modal.close()">Annuler</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>
