<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Données generales</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
        <!-- Widgets -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon shadow-primary bg-purple">
                  <i class="material-icons align-middle">face</i>
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Consultations</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> 650</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart1Data" [labels]="cardChart1Label"
                  [options]="cardChart1" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon shadow-primary bg-orange">
                  <i class="material-icons align-middle">content_cut</i>
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Operations</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> 54</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data" [labels]="cardChart2Label"
                  [options]="cardChart2" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon shadow-primary bg-green">
                  <i class="material-icons align-middle">person_add</i>
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Analyses</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> 129</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart3Data" [labels]="cardChart3Label"
                  [options]="cardChart3" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon shadow-primary bg-blue">
                  <i class="material-icons align-middle">local_activity</i>
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Arret maladie</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> 20,125</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart4Data" [labels]="cardChart4Label"
                  [options]="cardChart4" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>

        </div>
        <!-- #END# Widgets -->
    <div class="row">

      <!-- AGE -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>Age</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="circleChartOptions.series" [chart]="circleChartOptions.chart"
                [plotOptions]="circleChartOptions.plotOptions" [labels]="circleChartOptions.labels"
                [legend]="circleChartOptions.legend" [colors]="circleChartOptions.colors"
                [responsive]="circleChartOptions.responsive"></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>Chart Sample</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                [xaxis]="areaChartOptions.xaxis" [stroke]="areaChartOptions.stroke" [tooltip]="areaChartOptions.tooltip"
                [dataLabels]="areaChartOptions.dataLabels">
              </apx-chart>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- ARRET MALADIES -->

      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">Arret maladie delivré par mois</h6>
              <h5>65 <span class="text-muted font-12">(Moyenne)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="avgLecChartOptions.series" [chart]="avgLecChartOptions.chart"
                [xaxis]="avgLecChartOptions.xaxis" [stroke]="avgLecChartOptions.stroke"
                [colors]="avgLecChartOptions.colors" [dataLabels]="avgLecChartOptions.dataLabels"
                [legend]="avgLecChartOptions.legend" [markers]="avgLecChartOptions.markers"
                [grid]="avgLecChartOptions.grid" [yaxis]="avgLecChartOptions.yaxis"
                [tooltip]="avgLecChartOptions.tooltip" [title]="avgLecChartOptions.title"
                [fill]="avgLecChartOptions.fill">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Top 5 des medicaments prescrits</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive m-t-15">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle col-cyan msr-2"></i> Paracetamol</td>
                    <td class="col-green">32%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-blue msr-2"></i>Voltarene</td>
                    <td class="col-green">12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-orange msr-2"></i>Ibuprofene</td>
                    <td class="col-orange">12</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-green msr-2"></i>Spasfon</td>
                    <td class="col-green">3%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Consommation de medicaments</h2>
          </div>
          <div class="body">
            <!-- Canvas for Chart.js -->
            <div class="recent-report__chart">
              <canvas baseChart [chartType]="'line'" [datasets]="areaChartData" [labels]="areaChartLabels"
                [options]="areaChartOptions2" [plugins]="areaChartPlugins" [legend]="true">
              </canvas>
            </div>
            <!-- Custom Axis -->
            <div class="axisData">
              <div class="tick">
                JAN <span class="value productValue">24</span> <span class="value serviceValue">20</span>
              </div>
              <div class="tick">
                FEV <span class="value productValue">18</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                MARS <span class="value productValue">16</span> <span class="value serviceValue">30</span>
              </div>
              <div class="tick">
                AVRIL <span class="value productValue">18</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                MAI <span class="value productValue">24</span> <span class="value serviceValue">18</span>
              </div>
              <div class="tick">
                JUIN <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                JUILL <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                AOUT <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                SEPT <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                OCT <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                NOV <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>
              <div class="tick">
                DEC <span class="value productValue">36</span> <span class="value serviceValue">22</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-blue order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Medicaments vendus</h6>
            <h2 class="text-end"><i class="fas fa-cart-plus float-start"></i><span>358</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-green order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Commande en attente</h6>
            <h2 class="text-end"><i class="fas fa-business-time float-start"></i><span>865</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-yellow order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">En stock</h6>
            <h2 class="text-end"><i class="fas fa-chart-line float-start"></i><span>128</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-pink order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Total profit mensuel</h6>
            <h2 class="text-end"><i class="fas fa-dollar-sign float-start"></i><span>$25698</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Type vitamine</h5>
              </div>
              <h3 class="text-info">170</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-purple width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">75%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Type antalgique</h5>
              </div>
              <h3 class="text-success">120</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-orange width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Type XX</h5>
              </div>
              <h3 class="text-danger">15</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-cyan width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">50%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Type XX</h5>
              </div>
              <h3 class="text-secondary">12</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-red width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
