<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="header">
    <h2>
      <strong>Faire une consultation</strong>
    </h2>
  </div>
  <div class="body">
    <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
    <nz-divider nzText="Motif" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="motif" formControlName="motif" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Antecedents" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="antecedents" formControlName="antecedents" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Examen" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="examen" formControlName="examen" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Hypotheses" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="hypotheses" formControlName="hypotheses" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="CAT" nzOrientation="left"></nz-divider>
      <label nz-checkbox formControlName="isCheckedReferer">Referer</label>
      <p class="mt-3">
        <textarea formControlName="refererContent" name="" class=" form-control" *ngIf="consultationForm.get('isCheckedReferer').value" id="" matTextareaAutosize
        placeholder="Ecrire ici"></textarea>
      </p>
    <p>
      <label nz-checkbox formControlName="isCheckedOM">Ordonnance medicale</label>
      <app-add-ordonnance (medocArray)="addNewMedoc($event)" *ngIf="consultationForm.get('isCheckedOM').value"></app-add-ordonnance>

      <p>
        <label nz-checkbox formControlName="isCheckedOP">Ordonnance exploration</label>
        <app-add-analyse (analyseArray)="addNewExploration($event)" *ngIf="consultationForm.get('isCheckedOP').value"></app-add-analyse>
        </p>
        <button class="btn-group btn btn-primary" *ngIf="!loading" [disabled]=" consultationForm.invalid" type="submit">
          Enregistrer
        </button>
        <button *ngIf="loading" disabled nz-button nzType="primary" class="btn-group btn btn-primary" type="button" nzLoading>
          Enregistrement
        </button>
      </form>

  </div>


</div>
