<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class=" mt-5">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ajoutez un commentaire</mat-label>
      <textarea matInput matTextareaAutosize ></textarea>
    </mat-form-field>

    <button  class="btn btn-group btn-primary">Ajouter</button>
  </div>
  <div class="">
    <div class="header">

    </div>
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <nz-timeline nzMode="left">
              <nz-timeline-item nzLabel="2015-09-01">
                <strong>Dr Djibril Mohamed</strong>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore corporis architecto reprehenderit eligendi neque, hic ipsam consectetur asperiores! Cumque ea aliquam eius accusamus maxime voluptas, alias reiciendis accusantium quibusdam.</p>
              </nz-timeline-item>
              <nz-timeline-item nzLabel="2015-09-01">
                <strong>Dr Djibril Mohamed</strong>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore corporis architecto reprehenderit eligendi neque, hic ipsam consectetur asperiores! Cumque ea aliquam eius accusamus maxime voluptas, alias reiciendis accusantium quibusdam.</p>
              </nz-timeline-item><nz-timeline-item nzLabel="2015-09-01">
                <strong>Dr Djibril Mohamed</strong>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore corporis architecto reprehenderit eligendi neque, hic ipsam consectetur asperiores! Cumque ea aliquam eius accusamus maxime voluptas, alias reiciendis accusantium quibusdam.</p>
              </nz-timeline-item></nz-timeline>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
