<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class=" mt-5">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ajoutez un commentaire</mat-label>
      <textarea matInput matTextareaAutosize ></textarea>
    </mat-form-field>

    <button mat-raised-button class="btn-primary" class="small col-xs-12 col-sm-12 col-md-2 col-lg-2 ">Ajouter</button>
  </div>
  <div class="card">
    <div class="header">
      <h2>
        <strong>Timeline</strong>
      </h2>
    </div>
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <ul class="left-timeline">
              <li>
                <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span>
                  <span>Dr Djibril Mohamed</span></time>
                <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                </div>
                <div class="left-label empty"> <span>No Activity</span> </div>
              </li>
              <li>
                <time class="left-time" datetime="2017-11-04T03:45"><span>01/10/2021</span>
                  <span>Dr Ali Omar</span></time>
                <div class="left-icon"><img src="assets/images/user/user2.jpg" alt="">
                </div>
                <div class="left-label">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                    sem. Nulla consequat massa quis enim.</p>
                </div>
              </li>
              <li>
                <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span>
                  <span>Dr Djibril Mohamed</span></time>
                <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                </div>
                <div class="left-label empty"> <span>No Activity</span> </div>
              </li>
              <li>
                <time class="left-time" datetime="2017-11-04T03:45"><span>01/10/2021</span>
                  <span>Dr Ali Omar</span></time>
                <div class="left-icon"><img src="assets/images/user/user2.jpg" alt="">
                </div>
                <div class="left-label">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                    sem. Nulla consequat massa quis enim.</p>
                </div>
              </li>
              <li>
                <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span>
                  <span>Dr Djibril Mohamed</span></time>
                <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                </div>
                <div class="left-label empty"> <span>No Activity</span> </div>
              </li>
              <li>
                <time class="left-time" datetime="2017-11-04T03:45"><span>01/10/2021</span>
                  <span>Dr Ali Omar</span></time>
                <div class="left-icon"><img src="assets/images/user/user2.jpg" alt="">
                </div>
                <div class="left-label">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                    sem. Nulla consequat massa quis enim.</p>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
