<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="header">
    <h4>
      <strong>Suivi de consultation externe</strong>
    </h4>
  </div>
  <div class="body">

    <form [formGroup]="consultationForm" (submit)="onSubmit()">
      <nz-divider nzText="Hypotheses" nzOrientation="left" class="m-0"></nz-divider>
      <p>
        {{oldConsultation?.hypotheses}} </p>
      <nz-divider nzText="Evaluation" nzOrientation="left" class="m-0"></nz-divider>
      <p>
        <textarea name="evaluation" formControlName="evaluation" class=" form-control" id=""
          matTextareaAutosize></textarea>
      </p>


      <nz-divider nzText="CAT de la consultation precedente" nzOrientation="left"></nz-divider>
      <div *ngIf="oldConsultation?.referer" class=" mb-4 flex-wrap">
        <br>
        <p>
          <strong>Consultation referer: <br></strong>

        </p>
        <nz-list-item-meta *ngFor="let referer of oldConsultation?.refererList"
          (click)="checkFile('#/doctor/patients/referer/'+oldConsultation?._id+'/'+ referer._id)"
          nzAvatar="../../../../assets/images/image-gallery/pdf.jpg">
        </nz-list-item-meta>
      </div>


      <div *ngIf="oldConsultation?.ordonnance" class="mb-4">
        <br>

        <p>
          <strong>Ordonnance medicale: <br></strong>

        </p>
        <nz-list-item-meta (click)="checkFile('#/doctor/patients/ordonnance/'+oldConsultation?._id)"
          nzAvatar="../../../../assets/images/image-gallery/pdf.jpg">
        </nz-list-item-meta>
      </div>


      <div *ngIf="oldConsultation?.analyse" class="d-flex justify-content-between flex-wrap">
        <strong class="mb-3">Ordonnance explorations: <br></strong>

        <nz-table #basicTable>
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Demandes
              </th>
              <th>
                Resultats
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let explo of oldConsultation?.explorations; let i=index">
              <td>
                {{i+1}})
              </td>
              <td>
                <nz-avatar (click)="checkFile('#/doctor/patients/analyse/'+oldConsultation._id+'/'+explo._id)" nzIcon="user" nzSrc="../../../../assets/images/image-gallery/pdf.jpg"></nz-avatar>
              </td>
              <td>
                <div *ngIf="!explo.resultat">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Charger le resultat</mat-label>
                    <ngx-mat-file-input (change)="selectFile($event, explo, i)">
                    </ngx-mat-file-input>
                  </mat-form-field>
                  <button *ngIf="arrayLoading[i]" disabled nz-button nzType="primary" class="btn-group btn btn-primary" type="button"
                  nzLoading>
                  Chargement
                </button>
                <button *ngIf="explo.resultatUrl !== ''" disabled nz-button nzType="success" class="btn-group btn btn-primary" type="button"
                  >
                  Chargé!
                </button>
                </div>
                <nz-avatar *ngIf="explo.resultat" (click)="checkFile(explo.resultatUrl)" nzIcon="user"
                  nzSrc="../../../../assets/images/image-gallery/pdf.jpg"></nz-avatar>

              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>


      <nz-divider nzText="CAT" nzOrientation="left"></nz-divider>
      <div class="d-flex justify-content-between">
        <label class="large" nz-checkbox formControlName="isCheckedReferer">Ajouter un referer</label>
        <button class="large" *ngIf="consultationForm.get('isCheckedReferer').value" nz-button (click)="addRowReferer()"
          nzType="primary" type="button">+</button>

      </div>

      <div *ngIf="consultationForm.get('isCheckedReferer').value">
        <br />
        <br />
        <nz-table #editRowTable nzBordered [nzData]="consultation?.refererList">
          <tbody>
            <tr *ngFor="let data of editRowTable.data; let i=index" class="editable-row">
              <td>
                <label for="typeReferer"><strong>Type:</strong></label><input type="text" id="typeReferer"
                  class="form-control mb-3" placeholder="Ecrivez ici le type de referer"
                  [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="data.refererType" />
                <label for="refererContent"><strong>Contenue:</strong></label><textarea id="refererContent"
                  [(ngModel)]="data.refererContent" [ngModelOptions]="{standalone: true}" name="" class=" form-control"
                  id="" matTextareaAutosize placeholder="Ecrivez ici le contenu du referer"></textarea>
              </td>
              <td>
                <button (click)="deleteRowReferer(data.refererContent)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <p class="mt-4">

        <label class="large" nz-checkbox formControlName="isCheckedOM">Ajouter une ordonnance medicale</label>
        <app-add-ordonnance (medocArray)="addNewMedoc($event)" *ngIf="consultationForm.get('isCheckedOM').value">
        </app-add-ordonnance>

        <p class="mt-4">
          <div class="d-flex justify-content-between">

            <label class="large" nz-checkbox formControlName="isCheckedOP">Ajouter une ordonnance exploration</label>
            <button class="large" *ngIf="consultationForm.get('isCheckedOP').value" nz-button (click)="addRowExpo()"
              nzType="primary" type="button">+</button>

          </div>


          <nz-table *ngIf="consultationForm.get('isCheckedOP').value" #editRowTable nzBordered>
            <tbody>
              <tr *ngFor="let data of consultation?.explorations; let i=index" class="editable-row">
                <td>
                  <app-add-analyse (analyseArray)="addNewExploration($event)">
                  </app-add-analyse>
                </td>
                <td>
                  <button (click)="deleteRowExpo(i)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </nz-table>



          <div>
            <button type="submit" class="btn-space btn-success mt-5" [disabled]="!consultationForm.valid" mat-raised-button
              color="primary">Enregistrer</button>
          </div>



    </form>

    <div class="d-flex justify-content-between mt-5">
      <button type="button" class="btn btn-group btn-warning" mat-button (click)="checkConsultation(oldConsultation?._id, oldConsultation?.initial)">Consultation anterieur</button>
      <!-- <button type="button" class="btn btn-group btn-primary" mat-button>Consultation suivante</button> -->
    </div>
