<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="header">
    <h4>
      <strong>Consultation</strong>
    </h4>
  </div>
  <div class="float-end">
    <p>21/10/2021</p>
    <p>    Dr. Djibril Mohamed Idrisss
    </p>
  </div>
  <div class="body">
    <nz-divider nzText="Motif" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ducimus quisquam doloremque veniam iusto odio quidem, impedit nam rem, sequi molestias voluptates temporibus architecto facere facilis natus cumque? Sit, suscipit?
    </p>
    <nz-divider nzText="Antecedents" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ducimus quisquam doloremque veniam iusto odio quidem, impedit nam rem, sequi molestias voluptates temporibus architecto facere facilis natus cumque? Sit, suscipit?
    </p>
    <nz-divider nzText="Examen" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ducimus quisquam doloremque veniam iusto odio quidem, impedit nam rem, sequi molestias voluptates temporibus architecto facere facilis natus cumque? Sit, suscipit?
    </p>
    <nz-divider nzText="Hypotheses" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ducimus quisquam doloremque veniam iusto odio quidem, impedit nam rem, sequi molestias voluptates temporibus architecto facere facilis natus cumque? Sit, suscipit?
    </p>
    <nz-divider nzText="CAT" nzOrientation="left"></nz-divider>
    <nz-list nzItemLayout="horizontal" >
      <nz-list-item *ngFor="let item of data">
        <nz-list-item-meta
          nzAvatar="../../../../assets/images/image-gallery/pdf.jpg"
        >
          <nz-list-item-meta-title>
            <a (click)="checkFile(item.url)">{{ item.title }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
    </nz-list>
  </div>
</div>
