<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="print-section">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-md-12">
                <div class="white-box">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-start">
                        <div class="left-img d-flex flex-column" style="position: relative;">
                          <img class="img" src="assets/images/image-gallery/logoflat.png" alt=""  />
                          <div class="title d-flex ">
                            SERVICE SANTE
                          </div>
                        </div>
                      </div>
                      <div class="float-end text-end mt-5">
                        <address>
                          <p class="m-t-30">
                            <b>Djibouti le </b>
                            {{consultation?.date}}
                          </p>
                        </address>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                      <span class="title">CONSULTATION</span>
                    </div>
                    <div class="col-12 mt-5">
                      <strong>NOM: {{patient?.name}}</strong>
                    </div>
                    <div class="col-md-12">
                      <div class="table-responsive m-t-40">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td class="text-center">1)</td>

                              <td class="">{{refererContent}} <br>
                            </tr>


                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="float-end m-t-30 text-end">

                        <p class="m-b-100">Signature et tampon</p>
                        <p>
                          <strong>Prescripteur : </strong>
                          {{consultation?.doctor}}</p>
                      </div>
                      <div class="clearfix"></div>
                      <hr>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="text-end">
          <button mat-raised-button color="primary" printTitle="Ordonnance" [useExistingCss]="true"
            printSectionId="print-section" ngxPrint><i class="fas fa-print msr-2"></i>Print</button>
        </div>
      </div>
    </div>
  </div>
</section>
