<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="header">
    <h2>
      <strong>Faire une consultation</strong>
    </h2>
  </div>
  <div class="body">
    <nz-divider nzText="Motif" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Antecedents" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Examen" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="Hypotheses" nzOrientation="left" class="m-0"></nz-divider>
    <p>
      <textarea name="" class=" form-control" id="" matTextareaAutosize></textarea>
    </p>
    <nz-divider nzText="CAT" nzOrientation="left"></nz-divider>
      <label nz-checkbox [(ngModel)]="isCheckedReferer">Referer</label>
      <p class="mt-3">
        <textarea name="" class=" form-control" *ngIf="isCheckedReferer" id="" matTextareaAutosize
        placeholder="Ecrire ici"></textarea>
      </p>
    <p>
      <label nz-checkbox [(ngModel)]="isCheckedOM">Ordonnance medicale</label>
      <app-add-ordonnance *ngIf="isCheckedOM"></app-add-ordonnance>

      <p>
        <label nz-checkbox [(ngModel)]="isCheckedOP">Ordonnance exploration</label>
        <app-add-analyse *ngIf="isCheckedOP"></app-add-analyse>
        </p>
  </div>
  <button class="btn-group btn btn-primary" [disabled]="!isCheckedOM && !isCheckedOP && !isCheckedReferer">
    Enregistrer
  </button>
</div>
