<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Patient Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Patient</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="contact-grid profile-image">
            <img src="assets/images/user/usrbig4.jpg" alt="">
          </div>
        </div>
      </div>
      <div class=" col-lg-8 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Patient</h2>
          </div>
          <div class="tab-pane body active" id="about">

            <small class="text-muted">Nom: </small>
            <p>john@gmail.com</p>
            <div class="d-flex justify-content-between">
              <div>
                <small class="text-muted">Phone: </small>
              <p>+91 1234567890</p>
              </div>
              <div><small class="text-muted">Address: </small>
                <p>345, Sarju Appt., Mota Varacha, Surat
                  Gujarat, India.</p></div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <small class="text-muted">Gendarme: </small>
            <p>Oui</p>
              </div>
              <div>
                <small class="text-muted">Matricule: </small>
            <p>1233554</p>
              </div>
              <div>
                <small class="text-muted">Numero de dossier: </small>
            <p>13515</p>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <small class="text-muted">Groupe sanguin: </small>
            <p>A+</p>
              </div>
              <div>
                <small class="text-muted">xx: </small>
            <p>xx</p>
              </div>
              <div>
                <small class="text-muted">xx: </small>
            <p>xx</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" aria-expanded="true">
            <div class="row clearfix">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="header">
                  </div>
                  <div class="body">
                    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon msr-2">thumb_up</mat-icon>
                          Consultations
                        </ng-template>
                        <br>

                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon msr-2">thumb_up</mat-icon>
                          Ordonnances
                        </ng-template>
                        <br>

                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon msr-2">thumb_up</mat-icon>
                          Commentaires
                        </ng-template>

                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
